@import "reset";

html {
    background-color: #e8e8e8;
}
body {
    background-image: url('https://postmates.com/static/img/bg.png');
    font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
}

header {
    width: 960px;
    margin: 40px auto 30px auto;
}

header .logo {
    display: table-cell;
    vertical-align: top;
    padding-left: 50px;
}

header .logo a {
    display: block;
    width: 183px;
    height: 46px;
    background: url('https://postmates.com/static/img/logo.png') 0 0 no-repeat;
    background-size: 100%;
}

header nav {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    text-align: right;
    padding-right: 20px;
}

header nav ul li {
    display: inline-block;
    margin-top: 12px;
}

header nav ul li a {
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding: 12px 30px 12px 30px;
    width: 100%;
    height: 100%;
    border-right: 2px solid #dcdcdd;
    color: #000;
    font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    &:hover {
        text-decoration: underline;
    }
}

header nav ul li:last-of-type a {
    border-right-width: 0;
}

.container {
    background: #fff;
    width: 960px;
    margin: 0 auto;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
       -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
            box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    ul {
        padding: 10px;
        li {
            border-bottom: 1px solid #ddd;
            padding: 7px 0;
            overflow: hidden;
            &:last-of-type {
                border-bottom: 0
            }
            &.total {
                text-align: right;
                p {
                    margin: 5px 0 15px 0;
                }
            }
            a.name {
                float: left;
                width: 550px;
                color: #000;
                text-decoration: none;
                margin: 5px 0 0 0;
            }
            input.quantity {
                width: 50px;
                text-align: right;
                font-size: 16px;
            }
            span.price {
                float: right;
                width: 80px;
                margin: 5px 0 0 0;
                text-align: right;
            }
            a.update {
                float: right;
                color: #333;
                font-size: 14px;
                text-decoration: none;
                margin: 5px 50px 0 0;
                &:hover {
                    text-decoration: underline;
                }
            }
            a.remove {
                float: right;
                color: #ff0000;
                font-size: 14px;
                text-decoration: none;
                margin: 5px 0 0 0;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}