<!DOCTYPE html>
<html lang="en" data-ng-app="restaurant">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Cart</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <header>
        <div class="logo"><a href="https://postmates.com/" title="Postmates"></a></div>
        <nav>
            <ul>
                <li><a href="https://postmates.com/app/ios" title="Download for iOS">iOS</a></li>
                <li><a href="https://postmates.com/app/android" title="Download for Android">Android</a></li>
                <li><a href="http://blog.postmates.com" target="_blank">Blog</a></li>
            </ul>
        </nav>
    </header>
    <div class="container" data-ng-controller="Cart">
        <ul>
            <li data-ng-repeat="item in data.cart.order.items">
                <a class="name" data-ng-bind="item.name" href="" ></a>
                <input type="number" class="quantity"  data-ng-model="data.cart.order.items[$index].quantity" data-ng-value="{{item.quantity}}"></input>
                <span class="total price" data-ng-bind="{{item.total_price}}"></span>
                <span class="unit price" data-ng-bind="{{item.unit_price}}"></span>
                <a class="remove" href="">Remove</a>
                <a class="update" href="" data-ng-click="updateItem($index)">Update</a>
            </li>
            <li class="total">
                <p>Items: <span data-ng-bind="data.units"></span></p>
                <p>Total: $<span data-ng-bind="data.total"></span></p>
            </li>
        </ul>
    </div>

    <script src="libs/jquery-2.1.1.min.js"></script>
    <script src="libs/angular-1.2.25/angular.min.js"></script>
    <script src="libs/angular-1.2.25/angular-route.min.js"></script>
    <script src="app.js"></script>
</body>
</html>